<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <button class="btn btn_save" type="submit" [disabled]="!recipeForm.valid" >Save</button>
  <button class="btn btn_cancel" type="button" (click)="onCancel()" style="cursor: pointer">Cancel</button><br>


  <input style="width: 100%"
         type="text"
         placeholder="Name"
         formControlName="name"
         required
  >

  <hr>

  <input style="width: 100%"
         type="text"
         placeholder="Image Url"
         [(ngModel)]="img"
         formControlName="image"
         #image
         required
  >



  <img src="{{img}}">

  <div class="clear"></div>

  <hr>

  <textarea type="text"
            rows="6"
            placeholder="Description"
            formControlName="description"
            required
  ></textarea>



  <hr>





  <label>Ingredients:</label>




<!--      <div formArrayName="ingredients">-->
<!--        <div-->
<!--          *ngFor="let ingredient of controls; let ind = index"-->
<!--          formGroupName="ind">-->
<!--          <input type="text"-->
<!--                 formControlName="name"-->
<!--                 name="ingredientName"-->
<!--          >-->

<!--          <input type="number"-->
<!--                 formControlName="amount"-->
<!--                 name="ingredientAmount"-->
<!--          >-->
<!--        </div>-->
<!--      </div>-->

<!--  <button (click)="addIngredient()" type="button">Add Ingredient</button>-->



  <div class="col-xs-12" formArrayName="ingredients">
    <div
      class="row"
      *ngFor="let ingredientCtrl of controls; let i = index"
      [formGroupName]="i"
      style="margin-top: 10px;">
      <div class="col-xs-8">
        <input
          type="text"
          class="form-control"
          formControlName="name">
      </div>
      <div class="col-xs-2">
        <input
          type="number"
          class="form-control"
          formControlName="amount">
      </div>
      <div class="col-xs-2">
        <button
          type="button"
          class="btn btn-danger"
          (click)="onDeleteIngredient(i)">X</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button
          type="button"
          class="btn btn-success"
          (click)="onAddIngredient()">Add Ingredient</button>
      </div>
    </div>
  </div>


</form>
