

<form (ngSubmit)="onAdd(ingredients)"
      #ingredients="ngForm"
>
    <input placeholder="Name"
           type="text"
           ngModel
           name="name"
           required
    >
    <input type="number"
           placeholder="Number"
           ngModel
           name="number"
           required
           pattern="^[1-9]+[0+9]*$"
    >
    <br>

    <button class="btn add_btn" type="submit" [disabled]="!ingredients.valid">Add</button>
    <button class="btn del_btn" type="button" (click)="onDelete()">Delete</button>
    <button class="btn clear_btn" type="button" (click)="onClear()">Clear</button>
</form>
